<div class="signup_or_signin">
  <div class="span4 offset1">
    <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
      <h2>爱吉他, 注册更多惊喜</h2>
      <div>
        <%= f.error_notification %>
        <%= f.input :name, :lable => "abc", :autofocus => true %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.submit '注册', :class => "btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="span4">
    <div id="oauth">
      <h3>你也可以通过如下方式登录</h3>
      <ul class="oauth">
        <li><a href="#" class="weibo">新浪微博</a></li>
        <li><a href="#" class="renren">人人</a></li>
        <li><a href="#" class="tqq">QQ登录</a></li>
      </ul>
      <br/>
      <h2>已有爱吉他帐号?请直接登录</h2>
      <button onclick="location.href='/users/sign_in'" type="submit" class="btn-success">立即登录</button>
    </div>
  </div>
</div>
