<div class="row">
  <div class="span12">
    <div class="flexslider">
      <ul class="slides">
        <li>
        <%= image_tag "d_dykes.jpg"%>
        </li>
        <li>
        <%= image_tag "Starfire.jpg"%>
        </li>
        <li>
        <%= image_tag "StandardBass.jpg"%>
        </li>
        <li>
        <%= image_tag "TraditionalSeries.jpg"%>
        </li>
        <li>
        <%= image_tag "ArcosSeries.jpg"%>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h2>most loved1</h2>
    <p>Donec sed odio dui. at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>

    <h2>most loved2</h2>
    <p>Donec sed odio dui. at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>

    <h2>most loved on web</h2>
    <p>Donec sed odio dui. at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span5">
    <ul>
      <li>
      replay 1
      </li>
      <li>
      replay 2
      </li>
      <li>
      replay 3
      </li>
    </ul>
  </div>
</div><!-- /.row -->

<div class="jumbotron">
  <p class="lead">这里可以做一个滑动图片，下面配相应的文字，以后可以考虑放新闻，广告等。主要不知道放什么东西可以参考iteye吧 ,
  see http://www.guildguitars.com for inspar
  </p>
</div>
