<div class="row">
  <div class="span4 offset1">
    <h2>爱吉他，登录更多乐趣 </h2>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
      <%= f.input :email, :autofocus => true %>
      <%= f.input :password %>
      <%= f.submit '登录', :class => 'btn-primary' %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="span4">
    <div id="oauth">
      <h3>你也可以通过如下方式登录(待实现)</h3>
      <ul class="oauth">
        <li><a href="#" class="weibo">新浪微博</a></li>
        <li><a href="#" class="renren">人人</a></li>
        <li><a href="#" class="tqq">QQ登录</a></li>
      </ul>
    </div>
  </div>
</div>
