<div class="navbar">
    <div class="row">
       <a href="/"><%= image_tag "logo.png" %></a>
        <ul class="manage">
          <% if user_signed_in? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
              <%= current_user.name %><b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <% if current_user.has_role? :admin %>
                <li> <%= link_to t('simple_form.admin'), users_path %> </li>
              <% end %>
              <li> <%= link_to t('simple_form.edit'), edit_user_registration_path %> </li>
              <li><%= link_to t('simple_form.logout'), destroy_user_session_path, :method=>'delete' %> </li>
            </ul>
            </li>
          <% else %>
            <li> <%= link_to t('simple_form.login'), new_user_session_path %> </li>
            <li> <%= link_to t('simple_form.sign_up'), new_user_registration_path %> </li>
          <% end %>
        </ul>
    </div>
    
  <ul class="menu"> 
    <li><a href="/"><span><%= t "application.nav.home" %></span></a></li>
    <li><a href="/episodes"><span class="hint--top hint--success hint--always" data-hint="hot"> 
        <%= t "application.nav.episodes" %></span></a></li>
    <li><a href="/tablar"><span><%= t "application.nav.tablar" %></span></a></li>
    <li><a href="/artist"><span><%= t "application.nav.artist" %></span></a></li>
    <li><a href="/tool"><span><%= t "application.nav.tool" %></span></a></li>
    <li><a href="/bbs"><span><%= t "application.nav.bbs" %></span></a></li>
    <li><a href="/bbs"><span><%= t "application.nav.face_to_face" %></span></a></li>
  </ul>
</div>

<hr/> 
