<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="吉他,guitar,吉他谱,吉他视频,和弦,音乐,学习">
    <title><%= content_for?(:title) ? yield(:title) : "Guitar" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Guitar" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header>
      <div class="navbar">
        <%= render 'layouts/navigation' %>
      </div>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
        </div>
      
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <footer>
        <%= render "layouts/footer" %>
      </footer>
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>
  </body>
</html>
